/* INDEX */
.bg-index {
  background: linear-gradient(to bottom right, #530060, #bf077e);
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center; 
}

.logo-index {
  width: 15em;
  margin-top: 65%;
}


/* VISTA HOME */

.logo-home {
  width: 5em;
  transform: translateY(-45%);
}

.logo-lyft-lyfe {
  width: 100%;
}

.bg-home {
  background-image: url(../assets/images/drive.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: grid;
}

.btn-color {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 4em;
  width: 8em;
  font-weight: 700;
  transform: translateY(50%);
}

/* COUNTRY */
.icon-back {
  color: #530060;
}

.flag {
  width: 40%;
}

.btn-flag {
  border: 1px solid rgb(53, 34, 34);
  background: transparent;
  padding: 0.8em;
}

.phone {
  padding: 0.6em;
  border: 1px solid black;
  margin-left: -4%;
}

.foot {  
  margin-top: 5%;
  text-align: center;
}


/* VERIFY */
.code {
  
  border: none;
  border-bottom: dashed purple;
  width: 33px;
  letter-spacing: 0.3em;
}


/* DATA */

/* END */
.bg-end {  
  background: linear-gradient(to bottom right, #530060, #bf077e);
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.logo-end {
  width: 10em;
  transform: translateY(150%);
}

.check {
  width: 30%;
  background-color: #fff;
}