<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">

  <title>Lyft Lyfe</title>
</head>

<body>
  <section class="container-fluid bg-end">
    <img class="logo-end" src="../assets/images/logo-white.png" alt="logo-lyft">

    <div class="media">
      <!-- <div class="media-bottom"> -->
        <img src="../assets/images/check.png" alt="check" class="check media-object">
      <!-- </div> -->
    </div>
  </section>



  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/.js"></script>
</body>

</html>